<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test</title>
</head>
<body>
<img src="{{ asset('100.png') }}" alt="Test image">
<img src='{{ asset("120.tiff") }}' alt="Excluded image">
<img src='{{ asset("120.gif") }}' alt="Excluded image">
</body>
</html>
